vendor/
.idea
.DS_Store
/public/**/*.html
/public/static/
/public/resources
/public/sitemap.xml
/public/img/meta
.env
/data
Envoy.blade.php
Envoy*
src/Console/submissions.json
/public/rss.xml
src/likes.json