.content__guide {
  display: flex;
  flex-wrap: wrap; }
  .content__guide > * {
    flex: 1 1 100%; }
  @media all and (min-width: 640px) {
  .content__guide {
    flex-wrap: nowrap; }
    .content__guide > nav {
      flex: 0 1 35vw; }

    .content__guide > article {
      flex: 0 1 65vw; } }
  @media all and (min-width: 1200px) {
  .content__guide > nav {
    flex: 0 1 30vw; }
  .content__guide > article {
    flex: 0 1 70vw; } }

.content__guide > nav {
  bottom: 0;
  color: #fff;
  padding: 3em 1em;
  display: flex;
  flex-wrap: wrap;
  background: #fd5d1f;
  background: linear-gradient(60deg, #fc3149, #fd5d1f); }
  .content__guide > nav > * {
    flex: 1 1 100%;
    padding: 0.3em 0;
    text-decoration: none; }
  .content__guide > nav > h2 {
    padding: 1em 0 0.5em;
    margin: 0;
    font-size: 1.3em; }
  @media all and (min-width: 640px) {
  .content__guide > nav {
    flex-wrap: nowrap;
    flex-direction: column; }
    .content__guide > nav > * {
      flex-basis: 0;
      flex-grow: 0; } }
  .content__guide > nav > a {
    padding-left: 0.5em; }
    .content__guide > nav > a:before {
      content: '\203A';
      padding-right: 0.3em; }
    .content__guide > nav > a.active {
      font-weight: 800; }
  @media all and (min-width: 1200px) {
  .content__guide > nav {
    padding-left: 10em; } }

.content__guide > article {
  margin-top: 0.5em;
  padding: 3em 4vw 2em 1.5em;
  width: 100%;
  max-width: 100%; }
  .content__guide > article h1 {
    font-size: 2em;
    margin-top: 0.2em; }
  @media (min-width: 640px) {
  .content__guide > article {
    max-width: 65vw;
    padding-left: 3em; } }
  @media (max-width: 640px) {
  .content__guide > article {
    padding-top: 1em; } }
  @media (max-width: 1200px) {
  .content__guide > article {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
    .content__guide > article > *:not(pre) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      max-width: 100%; }

    .content__guide > article pre {
      font-size: 0.9em;
      box-shadow: none;
      background-color: #f2f2f2; }
      .content__guide > article pre:before {
        display: none; }
      .content__guide > article pre > code {
        padding: 1.2em 1.5em; } }

footer {
  background-color: #4f4f4f;
  padding: 2em 0 3em;
  margin-bottom: 0; }
  @media (max-width: 640px) {
    footer > .container {
      width: 100%;
      margin-left: 0;
      padding: 2em 0 3em; } }
  footer .cta {
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff; }
    footer .cta:last-child {
      margin-bottom: 0; }
  footer > .container > nav {
    margin: 0;
    padding: 0 4vw 0 1.5em; }

@media (max-width: 640px) {
  .nav__main > a {
    color: #fff; } }
