{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}

    <style>
        @media (min-width: 600px) {
            .field {
                display: flex;
                align-items: center;
            }
        }

        form {
            display: block;
        }

        .field {
            width: 100%;
            margin-top: 1em;
        }

        .field > input {
            flex-grow: 1;
            width: 100%;
            margin-top: .3em;
            border-radius: 15px;
            background-color: #f2f2f2;
            border: 2px solid #e3e3e3;
            padding: 10px;
            font-weight: normal;
        }

        .field > input:focus,
        .field > input:active {
            border: 2px solid #fe2977;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        }

        .field > label {
            width: 200px;
        }

        .field button {
            border-radius: 15px;
            padding: .5em;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}

    <article>
        <h1>
            <span>
                Timeline Taxi
            </span>
        </h1>

        <p><strong>Timeline Taxi</strong> is a short scifi novel I'm writing, just because I want to. I publish the chapters on this blog, and you can leave your email address if you want to be kept up to date when a new chapter is published.</p>

        <p>You'll receive a mail to confirm your email address, make sure to check your spam if it doesn't show up within 2 minutes.</p>

        <form action="https://mail.stitcher.io/subscribe/a82dccb7-eaba-49ca-acce-9bff47e2bf16" method="post">
            <div class="field">
                <label for="first_name">Your name</label>
                <input name="first_name" id="first_name" type="text" required/>
            </div>

            <div class="field">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" required/>
            </div>

            <div class="field">
                <button type="submit" class="cta cta-small">subscribe</button>
            </div>
        </form>

        <h1>Published Chapters</h1>

        <ul>
            <li>
                <a href="/blog/timeline-taxi-chapter-01">Chapter 01</a>
            </li>
        </ul>
    </article>

{% endblock %}
