{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
    <article>
        <h1>
            <span>
                Timeline Taxi
            </span>
        </h1>

        <p>Thank you for confirming your email address! <strong>You'll now receive updates whenever I publish a new chapter of Timeline Taxi.</strong>
            If you have any other questions, feel free to mail me at <a href="mailto:brendt@stitcher.io">brendt@stitcher.io</a>.</p>
    </article>

{% endblock %}
