{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
    <article>
        <h1>
            <span>
                Timeline Taxi
            </span>
        </h1>

        <p><strong>You've been unsubscribed.</strong></p>
    </article>

{% endblock %}
