{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}

    <style>
        form {
            display: block;
        }

        form > div + div {
            margin-top: 1em;
        }

        form label {
            display: inline-block;
            width: 33%;
        }

        @media(max-width: 600px) {
            form label {
                margin-bottom: .5em;
            }
        }
    </style>
{% endblock %}

{% block content %}

    <article>
        <h1>
            <span>
                stitcher.io newsletter
            </span>
        </h1>

        <p>Do you want to receive occasional mails about what's going on, here on this blog? Right now public mailing subscriptions are closed, but you can join the newsletter by sending an email to <a href="mailto:brendt@stitcher.io">brendt@stitcher.io</a>.</p>

{#        <form action="https://mail.stitcher.io/subscribe/81fa83d0-4a0b-4eff-b897-f6ce51dfb7f0" method="post">#}
{#            <div>#}
{#                <label for="email">Email</label>#}
{#                <input name="email" style="margin-left:.5em;" required/>#}
{#            </div>#}

{#            <div>#}
{#                <label for="first_name">Name</label>#}
{#                <input name="first_name" style="margin-left:.5em;" required/>#}
{#            </div>#}

{#            <div style="margin-left:1em;">#}
{#                <button type="submit" class="cta cta-small">Subscribe</button>#}
{#            </div>#}
{#        </form>#}

{#        <p><br>You'll receive a confirmation mail shortly after, make sure to check your spam if it doesn't show up within 2 minutes.</p>#}
    </article>

{% endblock %}
