{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
    <article>
        <h1>
            <span>
                stitcher.io newsletter
            </span>
        </h1>

        <p class="author footnotes">You'll receive a confirmation mail shortly. Please check your spam if you didn't receive it withing the next 5 minutes.</p>

        <p>
            <a href="/">Back</a>
        </p>
    </article>

{% endblock %}
