{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
    <article>
        <h1>
            <span>
                stitcher.io newsletter
            </span>
        </h1>

        <p class="author footnotes">You've been successfully subscribed! While you're waiting for my next email to arrive, you can read the previous one <a href="https://aggregate.stitcher.io/latest-mail">here</a>.</p>

        <p>
            <a href="/">Back</a>
        </p>
    </article>

{% endblock %}
