{% extends '_partials/index.twig' %}

{% block head %}
    {{  parent() }}

    {{ css.inline('resources/css/home.scss')|raw }}
{% endblock %}

{% block content %}
    <header class="banner__home">
        <h1>Stitcher</h1>
        <h2>High performance, static websites for PHP developers.</h2>

        <a href="#install" class="cta cta--primary">Install now</a>
        <a href="/guide/setting-up" class="cta cta--ghost">Setting up</a>

        {% include '_partials/curve.twig' %}
    </header>

    <div class="container">
        <div class="content__why">
            {$content_why}
        </div>

        {$content_installation}
    </div>
{% endblock %}
