{% extends '_partials/index_clean.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/clean/meta.scss')|raw }}
{% endblock %}

{% block content %}
    <h1>phpstorm performance<br>issues on OSX</h1>
{% endblock %}
