{% extends '_partials/index_clean.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/clean/meta.scss')|raw }}
{% endblock %}

{% block content %}
    <h1>what PHP can be</h1>
{% endblock %}
