$color-black: #353535;
$color-white: #ffffff;
$color-orange: #fd5d1f;
$color-orange-dark: #742100;
$color-red: #fc3149;
$color-gray: #D3D3D3;

$em-base: 16px;

$width-container: 1200px;
$width-container-mobile: 420px;
$width-container-mobile-lrg: 640px;
$width-base: 800px;
$width-mobile: 460px;

@mixin clearfix() {
    clear: both;
    content: ' ';
    display: block;
}

$red: #fc3149;
$font-title: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-subtitle: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-body: Garamond, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-code: Menlo, Monaco, "Ubuntu Mono", "Courier New", monospace;

@mixin wrapper($width: $width-base, $padding-right: 200px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
    padding-right: $padding-right;

    @media (max-width: $width-base) {
        padding-right: 20px;
        padding-left: 20px
    }
}
