@import 'css/classes.scss';
@import 'css/elements.scss';

#cookies-eu-banner {
    position: fixed;
    z-index: 999;
    font-size: 1rem;
    font-family: $font-body;
    width: 500px;
    background-color: $color-primary-pastel;
    bottom: 0;
    padding: 1rem;

    @media (max-width:600px) {
        width: 100%;
    }

    button {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        font-weight: bolder;
        font-family: $font-body;
        cursor:pointer;

        &+button {
            margin-left: 1rem;
        }
    }

    & > div {
        text-align: right;
        padding-right: 1rem;
        margin-top: .5rem;
    }
}

.author {
    background-color: $color-primary-pastel;
    font-size: 1.2em;
    margin-top: 2rem;
    margin-bottom: 2em;
    padding: 1em 1.3em;
    line-height: 1.7em;

    @include outOfBox;

    & p {
        font-size: 1em;
    }

    & p:last-child {
        margin-bottom: 0;
    }
}

.footnotes {
    background-color: $color-primary-pastel;
    padding: 1em 1.3em;
    border-left: 5px solid $color-primary;

    @include outOfBox;

    h2 {
        margin-top: 0;
        padding-top: 0;
        color: $color-body;
        font-size: 1.4rem;
        margin-bottom: .5em;
    }

    p {
        margin-bottom: 0;
        font-size: 1.3em;
        padding-left: .2rem;
    }

    p + p {
        margin-top: .2em;

        @media (max-width: $width-container-mobile) {
            margin-top: .5em;
        }
    }
}

.banner {
    //background-color: $color-primary-pastel;
    color: $color-black;
    padding: 3em 0 2.8em;
    margin: 2em 0;

    h1 {
        margin-top: 0;
        text-align: left;
        display: inline-block;
        width: auto;
        border: none;
        margin-bottom: 0;
        font-weight: normal;
    }

    p + ul {
        margin-top: 1.5em;
    }
}

.banner a {
    text-decoration: underline;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

audio {
    margin-top: .5em;
    width:100%;

    @media (min-width: $width-container) {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}

.comments {
    display: grid;
    gap: 1.6em;
    margin-bottom: 1.6em;
}


.comment {
    background-color: $color-primary-pastel;
    padding: 1em;
    display: grid;
    gap: .2em;
}

.comment p {
    margin-bottom: 0;
}

.comment .credits {
    font-weight: bold;
    margin-top: 1em;
}

.comments form {
    display: grid;
    gap: .5em;
}

.comments form textarea {
    width: 100%;
    padding: .3em;
    font-size: 1.3em;
    line-height: 1.55em;
    font-weight: 300;
}