@import 'css/classes.scss';
@import 'css/elements.scss';

.author {
    background-color: $color-primary-pastel;
    font-size: 1.2em;
    margin-top: 2rem;
    margin-bottom: 2em;
    padding: 1em 1.3em;
    line-height: 1.7em;

    @include outOfBox;
}

.footnotes {
    background-color: $color-primary-pastel;
    padding: 1em 1.3em;
    border-left: 5px solid $color-primary;

    @include outOfBox;

    h2 {
        margin-top: 0;
        padding-top: 0;
        color: $color-body;
        font-size: 1.4rem;
        margin-bottom: .5em;
    }

    p {
        margin-bottom: 0;
        font-size: 1.4rem;
        padding-left: .2rem;
    }

    p + p {
        margin-top: .2em;

        @media (max-width: $width-container-mobile) {
            margin-top: .5em;
        }
    }
}

.banner {
    //background-color: $color-primary-pastel;
    color: $color-black;
    padding: 3em 0 2.8em;
    margin: 2em 0;

    h1 {
        margin-top: 0;
        text-align: left;
        display: inline-block;
        width: auto;
        border: none;
        margin-bottom: 0;
        font-weight: normal;
    }

    p + ul {
        margin-top: 1.5em;
    }
}

.banner a {
    text-decoration: underline;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

audio {
    margin-top: .5em;
    width:100%;

    @media (min-width: $width-container) {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}
