@import "css/variables";

h1, h2, h3, h4, h5 {
    .heading-anchor {
        position: absolute;
        left: 0;
        padding-right: 1em;
        margin-left: -1em;
        display: none;
        font-size: .8em;
        padding-top: 5px;
        padding-left: 5px;
        color: #777;
        text-decoration: none;
        font-weight: 200;
    }

    .heading-anchor:hover,
    &:hover > .heading-anchor {
        display: inline-block;
    }

    @media(max-width: $width-container) {
        .heading-anchor {
            position: relative;
            display: inline-block;
            left: 0;
            padding-top: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

div.center {
    @include wrapper();
    text-align: center;
}

div.center > p {
    padding-right: 0;
}

.sneaky-placeholder {
    display: none;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 1em;
}

.sneaky-placeholder > h2 {
    margin-top: 0;
    font-size: 1.4em;
}

.sneaky-placeholder > p {
    margin-bottom: 0;
}

.sneaky-placeholder.shown {
    display: block;
}

.avatar {
    display: inline-block;
    height: 2em;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.cta {
    display: inline-block;
    cursor: pointer;
    background-color: $red;
    margin: .5rem 0;
    text-align: center;
    padding: 1em 2em;
    color: #fff;
    text-decoration: none;
    font-family: $font-title;
    transition: all 100ms ease-out;
    border: 2px solid darken(#fff, 6);
}

.cta:hover {
    background-color: saturate($red, 10);
    border-color: $red;
}

.cta-light {
    background-color: #fff;
    color: lighten(#000, 40);
    padding: 1em 2em;

    &:hover {
        color: #000;
    }
}

.cta-ghost {
    background-color: #fff;
    border: none;
    color: lighten(#000, 40);
    padding: 1em 2em;

    &:hover {
        color: $color-red;
        background-color: #fff;
    }
}

.cta-light:hover {
    background-color: #fff;
}

.caps {
    font-variant: all-small-caps;
}

.title {
    font-family: $font-title;
    text-decoration: none;
    position: relative;

    &:hover {
        color: $red;
    }

    font-kerning: normal;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
}

.adsbygoogle {
    max-width: $width-base;
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

.no-ad .ad-container,
.no-ad .sneaky-placeholder {
    display: none;
}

.image-noborder + p > img {
    box-shadow: none;
}

.no-break {
    white-space: nowrap;
}

.patreon {
    font-size: 1rem;
    padding: .6em 0;
    background-color: $red-light;

    p {
        font-size: 1em;
        margin-bottom: 0;
    }

    &.patreon-light {
        background: none;
    }
}

.ad-container {
    @include wrapper();
    height: 140px;
    overflow: hidden;
    margin-bottom: 1em;
}

#carbonads {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.4em;
    position: relative;


    a {
        text-decoration: none;
    }
}

#carbonads > span {
    display: flex;
    flex-wrap: wrap;

    & > a {
        display: block;
        width: 100%;
        text-align: right;
        margin-top: -1.7em;
        padding-right: .1em;

        @media (max-width: $width-container-mobile) {
            padding-right: 1em;
        }
    }
}

.carbon-wrap {
    display: flex;
    align-items: center;
    font-size: 1.1em;

    img {
        width: 130px;
        height: 100px;
        margin: 0;
    }

    a:last-child {
        padding-left: 1em;
    }

    @media (max-width: $width-container-mobile) {
        padding: 1em;
        background-color: darken(#fff, 2);
        flex-direction: column;
        align-items: flex-start;

        a:last-child {
            margin-top: 1em;
            padding-left: 0;
            margin-bottom: 1em;
        }
    }
}

.wrapper {
    @include wrapper();
}
