@import "css/variables";

div.center {
    @include wrapper();
    text-align: center;
}

div.center > p {
    padding-right: 0;
}

.sneaky-placeholder {
    display: none;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 1em;
}

.sneaky-placeholder > h2 {
    margin-top: 0;
    font-size: 1.4em;
}

.sneaky-placeholder > p {
    margin-bottom: 0;
}

.sneaky-placeholder.shown {
    display: block;
}

.avatar {
    display: inline-block;
    height: 2em;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.cta {
    display: inline-block;
    cursor: pointer;
    background-color: $red;
    margin: .5rem 0;
    text-align: center;
    padding: 1em 2em;
    color: #fff;
    text-decoration: none;
    font-family: $font-title;
    transition: all 100ms ease-out;
    border: 2px solid darken(#fff, 6);
}

.cta-light {
    background-color: #fff;
    color: lighten(#000, 40);
    padding: 1em 2em;

    &:hover {
        color: #000;
    }
}

.cta:hover {
    background-color: saturate($red, 10);
    border-color: $red;
}

.cta-light:hover {
    background-color: #fff;
}

.caps {
    font-variant: all-small-caps;
}

.title {
    font-family: $font-title;
    text-decoration: none;
    position: relative;

    &:hover {
        color: $red;
    }

    font-kerning: normal;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
}

.ad-container {
    @include wrapper();
    margin-bottom: 6rem;
}

.adsbygoogle {
    max-width: $width-base;
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

.no-ad .ad-container,
.no-ad .sneaky-placeholder {
    display: none;
}

.image-noborder + p > img {
    box-shadow: none;
}

.no-break {
    white-space: nowrap;
}
