@import "css/variables";

.hljs {
    display: block;
    overflow-x: auto;
    color: #000;
}

.hljs-comment,
.hljs-quote {
    color: #888888;
    font-style: italic;
}

.hljs-highlight.keyword,
.language-html .hljs-name,
.language-html .hljs-tag,
.hljs-meta,
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #0084FF;
    background: none;
}

.hljs-highlight.numeric,
.hljs-number {
    color: #005FE7;
    background: none;
}

.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #FF00E0;
}

.hljs-string,
.hljs-doctag {
    color: #003DB1;
}

.language-html .hljs-string {
    color: #00C000;
}


.hljs-highlight.property,
.hljs-highlight.prop,
.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #008c00;
    background: none;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-highlight.type,
.hljs-highlight.type span,
.hljs-highlight.type .hljs-title,
.hljs-type,
.hljs-params + .hljs-title,
.hljs-class .hljs-title {
    color: #FF00E0;
    background: none;
}


.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #000080;
    font-weight: normal;
}

.language-css .hljs-attribute,
.hljs-regexp,
.hljs-link {
    color: #009926;
}

.language-html .hljs-attr {
    color: #A200FF;
}

.hljs-symbol,
.hljs-bullet {
    color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #FF00E0;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-highlight {
    display: inline;
    background-color: #dfd;

    &.error {
        background-color: #fdd;
    }

    &.text span,
    &.text {
        color: $color-black;
    }

    &.yellow {
        background-color: #ffa;
    }

    &.blue {
        background-color: #aff;
    }

    &.red {
        background-color: #fdd;
    }

    &.green {
        background-color: #dfd;
    }

    &.textgrey {
        color: #aaa;
        background: none;
    }

    &.full,
    &.line {
        display: block;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        width: calc(100% + (2 * 1.5rem));
        padding-left: 1.5rem;

        @media(max-width: $width-base) {
            margin-left: -1rem;
            margin-right: -1rem;
            width: calc(100% + (2 * 1rem));
            padding-left: 1rem;
        }
    }

    &.striped {
        background: none;
        border-bottom: dotted 2px red;
    }
}
