@import "css/variables";

h1, h2, h3, h4, h5 {
    font-family: $font-title;
    color: $color-primary;

    margin-bottom: 1.2rem;

    font-weight: 600;
    font-kerning: normal;

    @media(max-width: $width-container-mobile) {
        text-align: center;
    }
}

h1 {
    margin-bottom: 1.3em;
}

h2 {
    margin-top: 2em;

    @media (max-width: $width-base) {
        font-size: 2em;
    }

    @media (max-width: $width-container-mobile) {
        font-size: 1.5em;
    }
}

h3 {
    margin-top: 1.6em;
    margin-bottom: .5em;
    font-size: 1.5em;
}

aside {
    font-size: 1.2em;
    margin-top: 1rem;
    padding-top:1em;
}

article p em {
    font-style: italic;
}
