@import "css/variables";

h1, h2, h3, h4, h5 {
    font-family: $font-title;
    color: $color-primary;

    margin-bottom: 1.2rem;

    font-weight: normal;
    font-kerning: normal;
}

h1 {
    color: $color-primary;
    font-size: 3em;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 200;

    margin-top: 1.5em;
    margin-bottom: 2rem;

    @media (max-width: $width-base) {
        margin: .5em 20px;
        padding-left: 0;
    }

    @media (max-width: $width-mobile) {
        margin: .5em 0;
    }
}

h2 {
    font-weight: 400;
    margin-top: 2em;

    @media (max-width: $width-base) {
        font-size: 2em;
    }
}

h3 {
    margin-top: 1.6em;
    margin-bottom: .5em;
    font-size: 1.5em;
}

aside {
    margin-top: 1rem;
    padding-top:1em;
}

article p em {
    font-style: italic;
}
