@import "css/variables";

body {
    font-size: 18px;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    color: #111;

    @media (max-width: $width-container-mobile-lrg) {
        font-size: 16px;
    }
}

.ruler {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 900px;
    width: 5px;
    background-color: $color-red;
}

* {
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
    margin-top: 1.3em;
    position: relative;
}

h3 {
    font-size: 1.5em;
    margin-top: 1.1em;
}

h2, h3 {
    & > small {
        display: inline-block;
        border-radius: 5px;
        background-color: $color-php;
        color: #fff;
        font-variant: small-caps;
        position:relative;
        top:-4px;

        a {
            color: inherit;
            text-decoration: none;
            padding: 1px 5px 4px 5px;
            display: inline-block;

            @media (max-width: $width-container-mobile-lrg) {
                text-decoration: underline;
            }
        }
    }
}

h2 > small {
    font-size: .5em;
}

h3 > small {
    font-size: .7em;
}

article {
    font-family: $font-body;
}

p {
    font-size: 1.35em;
    line-height: 1.45em;

    margin-bottom: 1rem;

    & > small {
        font-size: 1rem;
    }
}

li {
    font-size: 1.35em;
    line-height: 1.4em;
    padding-right: 200px;
    margin: 0 auto .3rem;
    max-width: $width-base;

    @media (max-width: $width-base) {
        max-width: 100%;
        padding-right: 20px;
    }
}

li ul li {
    font-size: 1em;
    padding-right: 0;
}

ul {
    margin-left: 40px;
    padding-left: 1.5em;
    margin-bottom: 1em;

    @media (max-width: $width-base) {
        margin-left: 40px;
        padding-left: 0;
    }
}

ul ul {
    margin-top: 10px;
    margin-left: 40px;

    @media (max-width: $width-base) {
        margin-left: 20px;
    }
}

p > em {
    font-style: normal;
    line-height: inherit;
}

blockquote {
    font-size: 1.2rem;
    font-family: $font-body;
    font-weight: 400;

    padding: 1.6em 1.8em 1.7em;
    margin: 2em auto;

    border-left: 6px solid $red;

    @media (max-width: $width-base) {
        padding-left: .5em;
        padding-right: .5em;
    }

    @media (max-width: $width-mobile) {
        margin: 1.5em 0;
    }

    max-width: $width-base;
}

blockquote > p {
    line-height: 1.3em;
}

blockquote > p:last-child {
    margin-bottom: 0;
}

blockquote code {
    font-size: .7em;
}

code {
    font-size: .7em;
    letter-spacing: 1px;

    padding: .2em .4em;
    margin-right: 2px;

    font-family: $font-code;
    background-color: darken(#fff, 5);
    color: #000;
}

p code, ul code {
    @media (max-width: $width-container-mobile-lrg) {
        overflow-wrap: break-word;
        word-break: break-word;
    }
}

pre {
    max-width: calc(600px + 2rem);
    margin-left: calc(50vw - 400px - 10px);
    margin-top: 2rem;
    margin-bottom: 2rem;

    overflow-x: auto;
    display: block;

    border: 1px solid darken(#fff, 7);
    background-color: darken(#fff, 3);

    @media (max-width: $width-base) {
        max-width: calc(100% + 40px);
        margin-left: 0;
    }
}

pre > code {
    line-height: 1.7em;
    font-size: .9em;
    letter-spacing: 0;
    margin-right: 0;

    padding: 1.5em 1.5rem;

    display: block;
    background-color: darken(#fff, 3);

    @media (max-width: $width-base) {
        padding: 1.5em 1rem;
    }
}

img {
    max-width: calc(100% + 2rem);
    margin-left: -1rem;
    box-shadow: 1px 2px 15px -2px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;

    &.editor-badge {
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-shadow: none;
    }

    @media (max-width: $width-base) {
        max-width: 100%;
        margin-left: 0;
    }
}

footer {
    font-family: $font-body;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding-top:1rem;
    padding-bottom:1rem;
}

footer > nav {
    @include wrapper;
    text-align: center;
}

footer > p {
    font-size: 1rem;
    font-family: $font-serif;
    text-align: center;
    color: #111;
    margin-top: 1em;

    a {
        color: inherit;
    }
}

a {
    color: #000;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: $red;
}

a:hover {
    text-decoration: none;
}

hr {
    @include wrapper();

    position: relative;
    height: 1rem;
    border: 0;
    text-align: center;
    margin: 3rem auto 4rem;

    &::before {
        display: inline-block;
        border-bottom: solid #999 1px;
        content: ' ';
        width: 30%;
    }

    @media (max-width: $width-container-mobile) {
        margin: 2rem auto;

        &::before {
            width: 90%;
        }
    }
}

iframe {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 337px;

    @media (max-width: $width-container-mobile) {
        height: 250px;
    }
}

abbr {
    font-variant: all-small-caps;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1em;
    white-space: nowrap;
}

span.number {
    font-size: .9em;
    line-height: 1em;
    white-space: nowrap;
}
