@import "css/variables";

.favicon {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 300px;
    margin-top: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 > span {
    color:#fff;
}
