@import 'resources/css/variables';

$article-width: 1200px;

.content__guide {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex: 1 1 100%;
    }

    @media all and(min-width: $width-container-mobile-lrg) {
        flex-wrap: nowrap;

        & > nav {
            flex: 0 1 35vw;
        }

        & > article {
            flex: 0 1 65vw;
        }
    }

    @media all and(min-width: $width-container) {
        & > nav {
            flex: 0 1 30vw;
        }

        & > article {
            flex: 0 1 70vw;
        }
    }
}

.content__guide > nav {
    bottom: 0;
    color: #fff;
    padding: 3em 1em;
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex: 1 1 100%;
        padding: .3em 0;
        text-decoration: none;
    }

    & > h2 {
        padding: 1em 0 .5em;
        margin: 0;
        font-size:1.3em;
    }

    @media all and (min-width: $width-container-mobile-lrg) {
        flex-wrap: nowrap;
        flex-direction: column;

        & > * {
            flex-basis: 0;
            flex-grow: 0;
        }
    }

    & > a {
        padding-left:.5em;

        &:before {
            content: '\203A';
            padding-right:.3em;
        }

        &.active {
            font-weight:800;
        }
    }

    @media all and(min-width: $width-container) {
        padding-left:10em;
    }

    background: $color-orange;
    background: linear-gradient(60deg, $color-red, $color-orange);
}

.content__guide > article {
    margin-top: .5em;
    padding: 3em 4vw 2em 1.5em;
    width:100%;
    max-width:100%;

    h1 {
        font-size:2em;
        margin-top:.2em;
    }

    @media (min-width: $width-container-mobile-lrg) {
        max-width:65vw;
        padding-left:3em;
    }

    @media (max-width: $width-container-mobile-lrg) {
        padding-top:1em;
    }

    @media (max-width: $width-container) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;

        > *:not(pre) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            max-width: 100%;
        }

        pre {
            &:before {
                display: none;
            }

            font-size: .9em;
            box-shadow: none;
            background-color: darken($color-white, 5);

            > code {
                padding: 1.2em 1.5em;
            }
        }
    }
}

footer {
    background-color: lighten($color-black, 10);
    padding:2em 0 3em;
    margin-bottom:0;

    & > .container {
        @media (max-width: $width-container-mobile-lrg) {
            width: 100%;
            margin-left: 0;
            padding:2em 0 3em;
        }
    }

    .cta {
        color: $color-white;
        box-shadow: inset 0 0 0 2px $color-white;

        &:last-child {
            margin-bottom:0;
        }
    }

    & > .container > nav {
        margin: 0;
        padding: 0 4vw 0 1.5em;
    }
}

@media (max-width: $width-container-mobile-lrg) {
    .nav__main > a {
        color: $color-white;
    }
}
