@import "css/variables";

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.meta-container {
    width: 1200px;
    height: 627px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    width: 75%;
    font-family: $font-title;
    margin:0 auto;
    font-size: 70px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
}

.meta-footer {
    bottom: 10px;
    margin: 0 auto;
    font-size: 35px;
    display: flex;
    justify-content: center;

    font-family: $font-title;
    color: $color-primary;
    font-weight: bold;
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.meta-footer span {
    background-color: #fff;
    padding: 10px 20px;
}

img {
    right:0;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
}
