@import "css/variables";

$gray-border-color: darken(#fff, 6);

nav.overview {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1em;
}

.links {
    font-family: $font-body;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.2em;

    @media(max-width: $width-container-mobile) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    margin-top: 1em;
}

nav.overview {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    @include outOfBox;

    font-size: 1.1em;
}

nav > a {
    display: block;
    font-size: 1.1em;
    font-family: $font-body;
    margin: .3em;
    padding: 1em;
    text-decoration: none;

    > * + * {
        margin-left: .3em;
    }

    .post-title {
        background-color: $color-primary;
        color: #fff;
        padding: .5em;
        font-weight: bold;
    }

    &:hover {
        background-color: $color-primary-pastel;
        color: #000;
        box-shadow: inset 0 0 0 4px $color-primary;
    }

    @media(max-width: $width-container-mobile-lrg) {
        text-align: center;

        .post-title {
            display: block;
            margin-top: .33em;
        }
    }
}


.post-tag {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: .2em;
    margin-top: .2em;
    font-family: $font-body;
    font-size: 1.1em;
    padding: .3em .7em;
    background-color: var(--tag-color-background);
    color: var(--tag-color-text);
    font-weight: bold;

    @media (max-width: $width-mobile) {
        font-size: .9em;
    }
}


nav.overview p {
    margin-top: 1em;
    font-family: $font-body;
    font-size: 1.35em;
}

section p {
    padding-right: 0;
}

aside {
    padding-right: 0;
    margin: .5em 0 0;
    font-family: $font-body;
    font-size: 1.1em;
}

footer > nav {
    padding-right: 0;
    text-align: center;
}

.search-suggestion {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-skip: edges;
    text-decoration-color: $color-primary;
}

nav.overview *.search-container {
    @media (max-width: $width-base) {
        display: none;
    }
}

.patreon > p {
    max-width: 1000px;
    padding-left: 24px;
    margin: 0 auto;
}

.hero {
    background-color: $color-primary-pastel;
    font-family: $font-body;
    padding:2rem 0;
}

.hero h1 {
    font-family: $font-title;
    margin: 0;
}

.hero *:last-child {
    margin-bottom: 0;
}
