@import "css/variables";

$gray-border-color: darken(#fff, 6);

nav.overview {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: 1em auto 0;
}

header {
    color: #000;
    border: none;
    display: block;
    max-width: 1000px;
    margin: 2em auto 0;

    p {
        padding: 1rem;
        font-size: 1.5rem;

        &.links {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    h1 {
        padding: 1rem;
    }
}

h1 {
    font-family: $font-title;

    font-kerning: normal;
    font-size: 2.5em;
    line-height: 1.1em;
    letter-spacing: 2px;
    font-weight: 300;

    max-width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    padding-right: 0;
}

nav.overview > a {
    width: 100%;
    margin: 0 0 1em 0;
    text-decoration: none;
    overflow: hidden;
    background-color: lighten($color-gray, 15);
    border: 3px solid lighten($color-gray, 15);
    padding: 1em;

    h1 {
        padding-bottom: 0;
        font-size: 2em;
    }

    &:hover {
        border-color: $color-black;
    }

    &.highlight {
        background-color: $color-red-pastel;
        border: 3px solid $color-red-pastel;

        &:hover {
            border-color: $color-red;
        }
    }

    @media (max-width: $width-container) {
        margin-left: 1em;
        margin-right: 1em;
    }

    &.small {
        h1 {
            font-size: 1em;
            letter-spacing: normal;
        }
    }
}

nav.overview p {
    margin-top: 1em;
    font-family: $font-body;
    font-size: 1.35em;
}

section p {
    padding-right: 0;
}

aside {
    padding-right: 0;
    margin: .5em 0 0;
    font-family: $font-body;
    font-size: 1.1em;
}

footer > nav {
    padding-right: 0;
    text-align: center;
}

.search-suggestion {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-skip: ink;
    text-decoration-color: $red;
}

nav.overview *.search-container {
    @media (max-width: $width-base) {
        display: none;
    }
}

.patreon > p {
    max-width: 1000px;
    padding-left: 24px;
    margin: 0 auto;
}
