@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@import "css/variables";

h1 {
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  line-height: 1em;

  & > span {
    background: none;
    color: #000;
    font-size: 1.2em;
    line-height: 1.2em;
  }
}