@import "tailwindcss";
@import "./code.css";

@theme {
    --color-primary: #fe2977;
    --color-pastel: #fcf4f5;

    --font-sans: "Avenir", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: Menlo, Monaco, "Ubuntu Mono", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --color-php: #4F5B93;
    --color-php-light: #7A86B8;

    --color-ui: var(--color-white);
    --color-ui-accented: var(--color-gray-100);
    --color-ui-muted: var(--color-slate-50);
    --color-ui-elevated: var(--color-neutral-50);
    --color-ui-inverted: var(--color-neutral-900);
}

pre {
    background-color: var(--color-ui-accented);
    padding: 1em;
    font-size: 0.9rem;
    overflow-x: auto;
    border-radius: 0.1em;
    line-height: 2em;
}

code {
    font-size: 0.9em;
    background-color: var(--color-ui-accented);
    padding: 3px 5px;
    border-radius: 0.1em;
    word-break: break-word;
}

h1 > a {
    text-decoration: none;
    word-break: break-word;
}

p a {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 3px;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-primary);
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
    }
}

@media (min-width: 800px) {
    article > *:not(pre):not(iframe):not(p:has(img)):not(.inset):not(.table-container) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

article > * {
    max-width: 100%;
}

h1 {
    font-size: 2.5em;
    line-height: 1.1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.66em;
    line-height: 1.1em;
}

h3 {
    font-size: 1.3em;
    margin-top: 0.66em;
}

h3:has(small) {
    display: flex;
    align-items: center;
    gap: 0.4em;
    flex-wrap: wrap;
}

h3 > small {
    background-color: #8892bf;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    font-size: small;
    color: #fff;
    font-weight: bold;

    & > a {
        text-decoration-color: #fff;
    }
}

h2, h3, h4 {
    font-weight: bold;
}

iframe {
    width: 100%;
}

.table-container {
    overflow-x: auto;
}

table {
    background-color: var(--color-pastel);
    border-radius: .5em;
    width: 100%;

    & .table-head {
        font-weight: bold;
        white-space: nowrap
    }

    & td {
        padding: 0.5em
    }

    & tr td:first-child {
        padding-left: 1em;
    }

    & tr:not(.table-head):hover {
        background-color: var(--color-gray-200);
    }

    & tr:last-child td:first-child {
        border-bottom-left-radius: .5em;
    }

    & tr:last-child td:last-child {
        border-bottom-right-radius: .5em;
    }
}

hr {
    width: 50%;
    margin: 2em auto;
    border-color: var(--color-gray-400);
}

li {
    margin-left: 2em;
}

ol li {
    list-style-type: decimal;
}

ul li {
    list-style-type: disc;
}

ol li + li,
ul li + li {
    margin-top: .4em;
}

img + img {
    margin-top: 1em;
}

@media (min-width: 40rem) {
    img[src$=".svg"] {
        max-height: 50vh;
        margin: 0 auto;
    }
}