<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Inter:400,600|Staatliches&amp;display=swap"
/>
<style>
    @media only screen and (max-width: 600px) {
        .inner-body {
            width: 100% !important;
        }

        .footer {
            width: 100% !important;
        }

        .responsive-img {
            height: auto !important;
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 500px) {
        .button {
            width: 100% !important;
        }
    }
</style>

<style>
    /* Base */

    body,
    body *:not(html):not(style):not(br):not(tr):not(code) {
        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
        box-sizing: border-box;
    }

    body {
        background-image: linear-gradient(to top, #fff 20%, #daf1f5);
        background-repeat: no-repeat;
        color: #2c1b1d;
        height: 100%;
        hyphens: auto;
        line-height: 1.4;
        margin: 0;
        -moz-hyphens: none;
        width: 100% !important;
        -webkit-hyphens: none;
        -webkit-text-size-adjust: none;
        word-break: break-word;
        min-height: 100vh;
    }

    p,
    ol,
    ul,
    blockquote {
        line-height: 1.5;
        text-align: left;
    }

    a {
        color: #4530a8;
    }

    .underline {
        text-decoration: none;
        background-image: linear-gradient(
            0deg,
            #f0de38 0,
            #f0de38 4px,
            transparent 5px,
            transparent
        );
    }

    a img {
        border: none;
    }

    /* Typography */

    h1 {
        color: #2c1b1d;
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 35px;
        text-align: left;
    }

    h2 {
        color: #2c1b1d;
        font-size: 16px;
        font-weight: bold;
        margin-top: 0;
        text-align: left;
    }

    h3 {
        color: #2c1b1d;
        font-size: 14px;
        font-weight: bold;
        margin-top: 0;
        text-align: left;
    }

    .part {
        font-family: Staatliches, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 21px;
    }

    ol {
        border-left: solid 1px #000;
        padding-left: 3rem;
    }

    li,
    p {
        color: #2c1b1d;
        font-size: 16px;
        line-height: 1.5em;
        margin-top: 0;
        text-align: left;
    }

    p.sub {
        font-size: 12px;
    }

    img {
        max-width: 100%;
        -ms-interpolation-mode: bicubic;
        height: auto;
    }

    strong {
        font-weight: 600;
    }

    /* Layout */

    .wrapper {
        background-color: #daf1f5;
        background-image: linear-gradient(to top, #fff 20%, #daf1f5);
        margin: 0;
        padding: 0;
        width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        -premailer-width: 100%;
    }

    .content {
        margin: 0;
        padding: 0;
        width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        -premailer-width: 100%;
    }

    /* Header */

    .header {
        padding: 25px 0;
        text-align: center;
        opacity: 0.35;
    }

    .header a {
        color: #2c1b1d;
        text-decoration: none;
    }

    .mailcoach-logo {
        height: 1.25rem;
        width: auto;
        vertical-align: middle;
        margin-left: 0.15rem;
        opacity: 0.75;
    }

    /* Body */

    .body {
        margin: 0;
        padding: 0;
        width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        -premailer-width: 100%;
    }

    .inner-body {
        background-color: #ffffff;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        padding: 0;
        width: 570px;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        -premailer-width: 570px;
    }

    /* Subcopy */

    .subcopy {
        border-top: 1px solid #2c1b1d;
        margin-top: 25px;
        padding-top: 25px;
    }

    .subcopy p {
        font-size: 12px;
    }

    /* Footer */

    .footer {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        width: 570px;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        -premailer-width: 570px;
    }

    .footer p {
        color: #6b6a67;
        font-size: 12px;
        text-align: center;
    }

    .footer a {
        color: #6b6a67;
    }

    /* Tables */

    .table table {
        margin: 30px auto;
        width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        -premailer-width: 100%;
    }

    .table th {
        border-bottom: 1px solid #edeff2;
        padding-bottom: 8px;
        margin: 0;
    }

    .table td {
        color: #74787e;
        font-size: 15px;
        line-height: 18px;
        padding: 10px 0;
        margin: 0;
    }

    .content-cell {
        padding: 35px;
    }

    /* Buttons */

    .action {
        margin: 30px auto;
        padding: 0;
        text-align: center;
        width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        -premailer-width: 100%;
    }

    .button {
        display: inline-flex;
        align-items: center;
        padding: 0.5rem 1.5rem;
        font-family: Staatliches, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 1.25rem;
        color: #fff;
        background-color: #47286f;
        border: none;
        text-decoration: none;
        text-align: center;
    }

    /* Panels */

    .panel {
        margin: 0 0 21px;
    }

    .panel-content {
        background-color: #e4e2ed;
        padding: 16px;
    }

    .panel-item {
        padding: 0;
    }

    .panel-item p:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    /* Tailwind helpers */

    .text-4xl {
        font-size: 2.25rem;
    }

    .text-2xl {
        font-size: 1.5rem;
    }

    .text-sm {
        font-size: 0.875rem;
    }

    .font-semibold {
        font-weight: 600;
    }

    .font-normal {
        font-weight: 400;
    }

    .text-gray-400 {
        color: #918f8b;
    }

    /* Stats */

    table.stats tr {
        vertical-align: bottom;
    }

    table.stats td {
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    table.stats a {
        color: #2c1b1d;
    }

    code {
        display: inline-block;
        padding: 2px 10px;
        font-family: monospace;
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);
        border-radius: 0.125rem;
    }
</style>

<table
        class="wrapper"
        width="100%"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
>
    <tr>
        <td align="center">
            <table
                    class="content"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
            >
                <tr>
                    <td class="header">
                        <a href="::webViewUrl::"> View in browser </a>
                    </td>
                </tr>

                <!-- Email Body -->
                <tr>
                    <td class="body" width="100%" cellpadding="0" cellspacing="0">
                        <table
                                class="inner-body"
                                align="center"
                                width="570"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                        >
                            <tr>
                                <td>
                                    <a
                                            href="https://front-line-php.com?utm_source=newsletter&utm_medium=email&utm_campaign=front-line-php"
                                    >
                                        <img
                                                class="responsive-img"
                                                alt="front-line-php.com"
                                                width="570"
                                                src="https://front-line-php.com/email/header.jpg"
                                                style="max-width: 570px"
                                        />
                                    </a>
                                </td>
                            </tr>

                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <h1>Hi there,</h1>

                                    {{ post.content|raw }}

                                    <table
                                            class="subcopy"
                                            width="100%"
                                            cellpadding="0"
                                            cellspacing="0"
                                            role="presentation"
                                    >
                                        <tr>
                                            <td>
                                                <p>
                                                    You received this email because you subscribed at
                                                    <a href="https://front-line-php.com">front-line-php.com</a
                                                    >.
                                                    <br />
                                                    <a href="::unsubscribeUrl::">Unsubscribe</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table
                                class="footer"
                                align="center"
                                width="570"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                        >
                            <tr>
                                <td class="content-cell" align="center">
                                    <p>
                                        Powered by
                                        <a href="https://mailcoach.app">
                                            Mailcoach<img
                                                    class="mailcoach-logo"
                                                    alt="mailcoach"
                                                    src="https://mailcoach.app/emails/email-logo.png"
                                            />
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body></html>
