<blockquote class="sneaky-placeholder shown">
    <h2>
        This is where the ad would go
    </h2>
    <p>
        I get it, ads are stupid. I even feel dirty putting them here.
        But to be honest, they actually make a difference.
        So maybe you'd consider whitelisting this blog?
    </p>
</blockquote>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-7163240497326235"
     data-ad-slot="4184710069">
</ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
