<p class="author">
    This is where the ad would go. Instead though, I'd like to point you towards my
    <a href="https://aggregate.stitcher.io/links/27b1f2b4-2cde-4e8f-8857-491bd3bccee4">GitHub Sponsors</a> page. If you're a regular reader and my content is helping you, you can consider a one-time or monthly sponsorship.
    If you're a company looking for dedicated ad placements on this blog or my newsletter, you can email me at
    <a href="mailto:brendt@stitcher.io">brendt@stitcher.io</a>
</p>
