<blockquote class="sneaky-placeholder shown">
    <p>
        This is where the ad would go.
        I get it, they are stupid.
        But to be honest, they actually make a difference.
        So maybe you'd consider whitelisting this blog
        or <a href="https://www.patreon.com/brendt" target="_blank" rel="noopener noreferrer">support me on Patreon</a>?
    </p>
</blockquote>

<div class="ad-container">
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-7163240497326235"
         data-ad-slot="4184710069">
    </ins>
</div>
