<div class="carbon-ad">
    <img class="carbon-img" src="https://assets.servedby-buysellads.com/p/manage/asset/id/61601" alt=""/>

    <div class="carbon-desc">
        Understand user behavior & ship product faster. Try Amplitude free today.
    </div>
</div>
