<div class="patreon">
    <p class="wrapper" style="font-size: 1rem;">
        Easily optimize PHP code performance in production with Datadog APM.
        Enable end-to-end visibility and troubleshoot issues faster.
        <a href="https://www.datadoghq.com/dg/apm/php-application-performance/?utm_source=advertisement&utm_medium=display&utm_campaign=dg-sticherio-apm-ww-php" target="_blank" rel="noopener noreferrer sponsored">Start your free trial today</a>.
    </p>
</div>
