<div class="sidenote frontline">
    <h2>Side note:</h2>

    <p>I'm writing a new book called <a target="_blank" rel="noopener noreferrer" href="https://front-line-php.com/?ref=stitcher.io">Front Line PHP</a>. It's about PHP 8 and modern PHP development in general. I plan to release it in December, you can already <a target="_blank" rel="noopener noreferrer" href="https://front-line-php.com/?ref=stitcher.io">subscribe to the mailing list</a> to stay up to date!</p>
</div>
