<div class="patreon">
    <p class="wrapper" style="font-size: 1rem;">
        Recently I set up GitHub sponsors, if my content helps you, you can <a href="https://aggregate.stitcher.io/links/27b1f2b4-2cde-4e8f-8857-491bd3bccee4">consider a one-time or monthly sponsorship</a>.
    </p>
</div>
