<div class="patreon">
    <p class="wrapper" style="font-size: 1rem;">
        I'd like this blog to be break-even. If my content helps you, you can <a href="https://aggregate.stitcher.io/links/27b1f2b4-2cde-4e8f-8857-491bd3bccee4">consider a sponsorship</a>.
    </p>
</div>
