<div class="patreon">
    <p class="wrapper" style="font-size: 1rem;">
        <strong>Need to upgrade to the latest version of Laravel?</strong> Get instant, automated Laravel upgrades with <a href="https://aggregate.stitcher.io/links/79d1077e-f67a-41a9-841e-98aa604f2aa8">Laravel Shift</a>
    </p>
</div>
