<div class="patreon">
    <p class="wrapper" style="font-size: 1rem;">
        Scout APM helps PHP developers pinpoint N+1 queries, memory leaks & more so you
        can troubleshoot fast & get back to coding faster. <a href="https://ter.li/3z0mph" target="_blank" rel="noopener noreferrer sponsored">Start your free 14-day trial today</a>.
    </p>
</div>
