<div class="things-book">
    <div class="wrapper">
        I've just published my new book: <a href="https://things-i-wish-i-knew.com/">Things I wish I knew when I started programming</a>
    </div>
    <div class="things-book-grid"></div>
</div>
