<div class="tempest">
    <div class="wrapper">
        <img src="https://tempest.stitcher.io//favicon/favicon-32x32.png" alt="tempest">
        <span>Want to connect with me and many other PHP enthusiasts? <a href="https://tempestphp.com/discord">Join the Tempest Discord</a>!</span>
    </div>
</div>
