<div class="taxi-book">
    <div class="wrapper">
        To celebrate the new extended release of Timeline Taxi, you can now get a [50% discount on Leanpub](https://leanpub.com/timeline-taxi/c/birthday)!
    </div>
    <div class="taxi-book-grid"></div>
</div>
