<div class="taxi">
    <div class="wrapper">
        <img src="https://timeline-taxi.com/favicon/favicon-32x32.png" alt="Timeline Taxi">
        <span>Out now: <a href="https://aggregate.stitcher.io/links/8c7ffa30-1268-4730-b2d8-1d6a48a1d034">my sci-fi novel Timeline Taxi is published!</a></span>
    </div>
</div>
