<div class="sidenote">
    <p>
        Do you want to learn more about PHP 8.1? There's <a href="https://road-to-php.com/">The Road to PHP 8.1</a>.
        For the next 10 days, you'll receive a daily email covering a new and exiting feature of PHP 8.1; afterwards you'll be automatically unsubscribed, so no spam or followup.
        <a href="https://road-to-php.com/">Subscribe now!</a>
    </p>
</div>
