<div class="sidenote frontline">
    <h2>Interested in more?</h2>

    <p>I'm writing a book called <a target="_blank" rel="noopener noreferrer" href="https://front-line-php.com/?ref=stitcher.io">Front Line PHP</a>. It's about PHP 8 and modern PHP development in general. It will be released on November, 19th; so make sure to <a target="_blank" rel="noopener noreferrer" href="https://front-line-php.com/?ref=stitcher.io">subscribe to the mailing list</a> to stay up to date!</p>

    <form
            action="https://spatie.be/mailcoach/subscribe/4af46b59-3784-41a5-9272-6da31afa3a02"
            method="post"
            class="newsletter-form"
            target="_blank"
    >
        <input type="hidden" name="tags" value="front-line-php-waiting-list">
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <button type="submit" class="cta cta-small">Stay up-to-date</button>
    </form>
</div>
