<div class="sidenote frontline">
    <h2>Interested in more?</h2>

    <p>I've written a book that teaches all about modern PHP development and PHP 8. Now with <a href="https://front-line-php.com/">30% discount</a>!</p>
</div>
