<div class="sidenote">
    <div class="center">
        <a href="https://www.youtube.com/watch?v=w5sPf2fhnxE" target="_blank" rel="noopener noreferrer">
            <img class="small hover-outline" src="/resources/img/static/tabs-v-spaces-thumb.png" alt="Tabs are better">
            <p><em class="center small">Tabs are better</em></p>
        </a>
    </div>
</div>
