<div class="sidenote">
    <p>
        Thanks for reading! This post is part of my "Dev Diaries" series where I write about my own and personal experiences as a developer. Would you like to read some more?
    </p>

    <ul>
        <li><a href="/blog/opinion-driven-design">Opinion-driven design</a></li>
        <li><a href="/blog/dont-get-stuck">Don't get stuck</a></li>
        <li><a href="/blog/dont-write-your-own-framework">Don't write your own framework</a></li>
        <li><a href="/blog/honesty">Honesty</a></li>
        <li><a href="/blog/when-i-lost-a-few-hundred-leads">When I lost a few hundred leads</a></li>
        <li><a href="/blog/how-to-be-right-on-the-internet">How to be right on the internet</a></li>
    </ul>

    <p>

        If you want to stay up to date about what's happening on this blog, you can follow me
        <a href="https://mobile.twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">on Twitter</a> or subscribe to my newsletter:
    </p>

    <form action="https://mail.stitcher.io/subscribe/81fa83d0-4a0b-4eff-b897-f6ce51dfb7f0" method="post" class="newsletter-form">
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <button type="submit" class="cta cta-small">Subscribe</button>
    </form>
</div>
