<div class="author">
    <p>
        This post is part of an early draft of Timeline Taxi, a sci-fi novel I wrote. It's now published, <a href="https://timeline-taxi.com">check it out here</a>.
    </p>
</div>
