<div class="author">
    Noticed a typo? You can <a href="https://github.com/brendt/stitcher.io" target="_blank" rel="noopener noreferrer">submit a PR</a> to fix it.

    If you want to stay up to date about what's happening on this blog, you can <strong>subscribe to my mailing list</strong>: send an email to
    <a href="mailto:brendt@stitcher.io">brendt@stitcher.io</a>, and I'll add you to the list.
</div>
