<div class="sidenote blogs-for-devs">
    <h2>Do you like what you read?</h2>

    <p>There's more to come! Make sure to leave your email address to stay up to date of new chapters being added to this series. Don't worry: there won't be any spam and I won't sell your email address.</p>

    <form
            action="https://mail.stitcher.io/subscribe/81fa83d0-4a0b-4eff-b897-f6ce51dfb7f0"
            method="post"
            class="newsletter-form"
            target="_blank"
    >
        <input type="hidden" name="tags" value="blogs-for-devs">
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <button type="submit" class="cta cta-small">Keep me posted!</button>
    </form>
</div>
