<div class="sidenote">
    <div class="center">
        <a href="https://www.youtube.com/watch?v=x9bSUo6TGgY" target="_blank" rel="noopener noreferrer">
            <img class="small" src="/resources/img/static/php-evolution-thumb.png" alt="PHP isn't dead.">
            <p><em class="center small">PHP isn't dead.</em></p>
        </a>
    </div>
</div>
