<div class="sidenote">
    <div class="center">
        <a href="https://www.youtube.com/watch?v=ZDZDvMB-O74" target="_blank" rel="noopener noreferrer">
            <img class="small hover-outline" src="/resources/img/static/php-2023-thumb.png" alt="PHP in 2023">
            <p><em class="center small">PHP in 2023</em></p>
        </a>
    </div>
</div>
