<div class="sidenote">
    <p>
        I'm creating a four-part mini-series on <a href="https://www.youtube.com/watch?v=c8hQ1fWU_mQ&list=PL0bgkxUS9EaKyOugEDffRzsvupBE2YEoD&index=1">YouTube</a> about generics in PHP: what they are, how we can use them today, and what's possible in the future. Give it a look, don't forget to leave like!
    </p>

    <div class="center">
        <a href="https://www.youtube.com/watch?v=5CwOuHCp29I&list=PL0bgkxUS9EaKyOugEDffRzsvupBE2YEoD&index=2" target="_blank" rel="noopener noreferrer">
            <img class="small" src="/resources/img/static/generics-thumb-2.png" alt="The case for PHP generics">
            <p><em class="center small">Generics in depth</em></p>
        </a>
    </div>
</div>
