<div class="sidenote frontline">
    <h2>Excited for PHP 8?</h2>

    <p>
        There's lots more to tell about all the new PHP 8 features. That's why I'm writing to learn about PHP 8, as well as modern-day PHP development. It's called <a target="_blank" rel="noopener noreferrer" href="https://front-line-php.com/?ref=stitcher.io">Front Line PHP</a>.
        It'll be released before the end of this year! So leave your email address here if you want to know when it's done:
    </p>

    <form
        action="https://spatie.be/mailcoach/subscribe/4af46b59-3784-41a5-9272-6da31afa3a02"
        method="post"
        class="newsletter-form"
        target="_blank"
    >
        <input type="hidden" name="tags" value="front-line-php-waiting-list">
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <button type="submit" class="cta cta-small">Stay up-to-date</button>
    </form>
</div>
