<div class="sidenote">
    <div class="center">
        <a href="https://www.youtube.com/watch?v=N_6Y09NLaqM" target="_blank" rel="noopener noreferrer">
            <img class="small hover-outline" src="/resources/img/static/sparkline-thumb.png" alt="Building a sparkline generator">
            <p><em class="center small">Building a sparkline generator</em></p>
        </a>
    </div>
</div>
