<div class="">
    <form
            action="https://mail.stitcher.io/subscribe/81fa83d0-4a0b-4eff-b897-f6ce51dfb7f0"
            method="post"
            class="newsletter-form"
            target="_blank"
    >
        <input type="hidden" name="tags" value="blogs-for-devs">
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <button type="submit" class="cta cta-small">Keep me posted!</button>
    </form>
</div>
