<div class="sidenote">
    <p>
        I've just launched a 10-day popup newsletter called <a href="https://road-to-php.com/">The Road to PHP 8.1</a>.
        For the next 10 days, you'll receive one email covering a new and exiting feature of PHP 8.1; afterwards you'll be automatically unsubscribed, so no spam or followup.
        <a href="https://road-to-php.com/">Subscribe now!</a>
    </p>
</div>
