<div class="sidenote frontline">
    <h2>Interested in more?</h2>

    <p>I've written a book that teaches all about modern PHP development and PHP 8, it's the best resource if you want to up your PHP level.</p>

    <a href="https://front-line-php.com/" class="cta frontline">Get it now!</a>
</div>
