<div class="sidenote">
    <div class="center">
        <p>
            Check out my latest video:
        </p>
        <a href="https://www.youtube.com/watch?v=ppBhz7KMjWc" target="_blank" rel="noopener noreferrer">
            <img class="small hover-outline" src="/resources/img/static/php-1-minute.png" alt="PHP in 1 minute">
            <p><em class="center small">PHP in 1 minute</em></p>
        </a>
    </div>
</div>
