<div class="sidenote frontline">
    <h2>Excited for PHP 8?</h2>

    <p>I've written a book that teaches all about modern PHP development and PHP 8. You can <a href="https://front-line-php.com/">buy it now</a>.</p>
</div>
