<div class="sidenote">
    <h2>Interested in more?</h2>

    <p>I'm writing a new series on how I manage and grow my blog called "Blogs for Devs". You might like the behind the scenes stories and also be inspired to start your own blog.</p>

    <a href="/blogs-for-devs/01-intro" class="cta cta-sidenote">Check it out!</a>
</div>
