<div class="sidenote frontline">
    <h2>Interested in more?</h2>

    <p>I've written a book that teaches all about modern PHP development and PHP 8. Now with <a href="https://front-line-php.com/">50% off</a> to celebrate PHP 8's launch!</p>

    <a href="https://front-line-php.com/" class="cta frontline">Get it now!</a>
</div>
