<div class="sidenote blogs-for-devs index">
    <h2>Index</h2>

    <ul>
        <li><a href="/blogs-for-devs/01-intro">01 – Intro</a></li>
        <li><a href="/blogs-for-devs/02-content-is-king">02 – Content is King</a></li>
        <li><a href="/blogs-for-devs/03-the-stack">03 – The Stack</a></li>
        <li><a href="/blogs-for-devs/04-your-audience">04 – Your Audience</a></li>
        <li><a href="/blogs-for-devs/05-interaction">05 – Interaction</a></li>
        <li><a href="/blogs-for-devs/06-stay-in-touch">06 – Stay in Touch</a></li>
        <li><a href="/blogs-for-devs/07-be-searchable">07 – Be Searchable</a></li>
        <li><a href="/blogs-for-devs/08-analytics">08 – Analytics</a></li>
        <li><a href="/blogs-for-devs/09-social-channels">09 – Social Channels</a></li>
        <li>10 – Monetize</li>
        <li>11 – In closing</li>
    </ul>
</div>
