<div class="sidenote">
    <p>
        Tired of managing servers?
        Check out <a href="#" target="_blank" rel="noopener noreferrer">Servers Visually Explained</a> by Matthieu Napoli and learn how to create scalable PHP applications on AWS.

        Now with <a href="#" target="_blank" rel="noopener noreferrer">a 10% discount</a>!
    </p>
</div>
