{#<div class="like-container">#}
{#    <div class="like placeholder">#}
{#        👍#}
{#    </div>#}
{#    <div class="like unliked hidden">#}
{#        👍#}
{#    </div>#}
{#    <div class="like liked hidden">#}
{#        👍 <span class="counter">0</span>#}
{#    </div>#}
{#</div>#}
