<div class="author">
    <p>
        This post is part of a hobby project of mine: I'm writing a short scifi novel, and I want to share my progress with you.
        I'm in no way a professional fiction writer, so you might find what comes next to be total crap, and that's fine.
        If you make it to the end, I'd appreciate to hear your honest feedback in the comments at the end of this page.
    </p>

    <p>
        If you happen to like what you're reading: I'll be posting the next chapter next week. If you want to be sure you don't miss the next post,
        you can <a href="/timeline-taxi">leave your email address</a>, and I'll mail you when a new chapter is published.
    </p>
</div>
