<div class="sidenote blogs-for-devs index">
    <h2>Index</h2>

    <ul>
        <li><a href="/blogs-for-devs/01-intro">01 – Intro</a></li>
        <li>02 – Content is King</li>
        <li>03 – The Stack</li>
        <li>04 – Your Audience</li>
        <li>05 – Interaction</li>
        <li>06 – Stay in Touch</li>
        <li>07 – Be Searchable</li>
        <li>08 – Analytics</li>
        <li>09 – Social Channels</li>
        <li>10 – Monetize</li>
        <li>11 – In closing</li>
    </ul>
</div>
