<div class="sidenote">
    <div class="center">
        <a href="https://www.youtube.com/watch?v=d6EBN-oSO8o" target="_blank" rel="noopener noreferrer">
            <img class="small hover-outline" src="/resources/img/static/null-thumb.png" alt="The evolution of NULL in PHP">
            <p><em class="center small">The evolution of NULL in PHP</em></p>
        </a>
    </div>
</div>
