<div class="sidenote">
    <p>
        PHP introduces quite a lot of deprecation notices with each minor update. How to deal with them?
    </p>

    <div class="center">
        <a href="https://www.youtube.com/watch?v=9Kox9HQnLUg" target="_blank" rel="noopener noreferrer">
            <img class="small" src="/resources/img/static/deprecation-thumb.png" alt="Dealing with deprecations">
            <p><em class="center small">Dealing with deprecations</em></p>
        </a>
    </div>
</div>
