<div class="sidenote">
    <p>
       My latest video: I've built <a href="https://aggregate.stitcher.io/">a hobby project</a> with Laravel and deployed it to production in 5 hours.
    </p>

    <div class="center">
        <a href="https://www.youtube.com/watch?v=mmtVkDh9RGw" target="_blank" rel="noopener noreferrer">
            <img class="small" src="/resources/img/static/aggregate-timelapse.png" alt="Laravel from scratch">
            <p><em class="center small">Laravel from scratch to production in 5 hours</em></p>
        </a>
    </div>
</div>
