<div class="sidenote">
    <p>
        How I set up PhpStorm to be clean and minimal in less than 5 minutes.
    </p>

    <div class="center">
        <a href="https://www.youtube.com/watch?v=jVTk-F3g9XM" target="_blank" rel="noopener noreferrer">
            <img class="small" src="/resources/img/static/clean-phpstorm.png" alt="Clean and minimalistic PhpStorm">
            <p><em class="center small">Clean and minimalistic PhpStorm</em></p>
        </a>
    </div>
</div>
