<p>
    Follow me:
    <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer me">Twitter</a> —
    <a href="{{ rssUrl ?? '/rss' }}" target="_blank" rel="noopener noreferrer">RSS</a> —
    <a href="/signup" target="_blank" rel="noopener noreferrer">Newsletter</a> —
    <a href="https://www.patreon.com/brendt" target="_blank" rel="noopener noreferrer">Patreon</a> —
    <a href="https://github.com/brendt" target="_blank" rel="noopener noreferrer">GitHub</a>
</p>

<p>
    &copy; {{ date()|date('Y') }} stitcher.io — <a href="/cookies" target="_blank" rel="noopener noreferrer">Cookies & Privacy</a>
</p>
