<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Rajdhani:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="article">
    <meta name="title" content="De Job Podcast">
    <meta name="twitter:title" content="De Job Podcast">
    <meta name="description" content="Een podcast die het verhaal vertelt over de eerste jaren op de arbeidsmarkt: de zoektocht naar je droomjob, de euforie wanneer je denkt hem gevonden te hebben, en dan de angst, teleurstelling en stress.">
    <meta name="twitter:description" content="Een podcast die het verhaal vertelt over de eerste jaren op de arbeidsmarkt: de zoektocht naar je droomjob, de euforie wanneer je denkt hem gevonden te hebben, en dan de angst, teleurstelling en stress.">
    <meta property="og:type" content="article">
    <meta property="og:title" content="De Job Podcast">
    <meta property="og:description" content="Een podcast die het verhaal vertelt over de eerste jaren op de arbeidsmarkt: de zoektocht naar je droomjob, de euforie wanneer je denkt hem gevonden te hebben, en dan de angst, teleurstelling en stress.">
    <meta itemprop="name" content="De Job Podcast">
    <meta itemprop="description" content="Een podcast die het verhaal vertelt over de eerste jaren op de arbeidsmarkt: de zoektocht naar je droomjob, de euforie wanneer je denkt hem gevonden te hebben, en dan de angst, teleurstelling en stress.">
    <meta name="twitter:card" content="summary"/>
    <meta property="twitter:image" content="https://stitcher.io/resources/img/de-job-favicon/android-chrome-512x512.png"/>
    <meta name="twitter:creator" content="@brendt_gd"/>


    <link rel="apple-touch-icon" sizes="180x180" href="/resources/img/de-job-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/img/de-job-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/img/de-job-favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/img/de-job-favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>De Job Podcast</title>

    <style>
        p {
            font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
            font-size: 22px;
            line-height: 1.4em;
            padding: 0 5px;
        }

        p + p {
            margin-top: 1em;
        }

        .container {
            width: 500px;
            margin: 0 auto;
        }

        header {
            font-size: 16px;
            box-sizing: border-box;
            --dim: 500px;
            display: grid;
            place-items: end;
            border: 5px solid #000;
            border-radius: 2px;
            box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.5);
            position: relative;
            width: var(--dim);
            height: var(--dim);
            margin: 3em auto 3em;
        }

        h2, h3 {
            font-family: 'Rajdhani', sans-serif;
        }

        h2 {
            margin-top: 2em;
        }

        h1 {
            background-color: #fff;
            color: #000;
            font-size: 10em;
            text-align: right;
            line-height: 1em;
            font-family: 'Rajdhani', sans-serif;
            position: relative;
            margin: 0 10px 0 0;
        }

        .author {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0.5em;
            font-size: 2.5em;
            font-family: 'Comforter Brush', cursive;
        }

        a {
            font-weight: bold;
            color:#000;
            text-decoration: underline;
            font-family: 'Rajdhani', sans-serif;
        }

        a:hover {
            text-decoration: none;
        }

        .spotify:hover {
            color: #1ed760;
        }

        .apple:hover {
            color: #a345d9;
        }

        .stitcher:hover {
            color: #ff9b1c;
        }

        .soundcloud:hover {
            color: #fb5402;
        }

        .episode {
            border: 2px solid #000;
            box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.5);
            border-radius: 2px;
            padding: 3em 2em 2em;
        }

        .episode + .episode {
            margin-top: 2em;
        }

        .episode h3 {
            margin-top: 0;
        }

        .links a {
            font-family: 'Rajdhani', sans-serif;
        }

        .links a + a {
            margin-left: 10px;
        }

        @media (max-width: 600px) {
            .container {
                 width: 100%;
            }

            p {
                font-size: 20px;
                padding: 0 10px;
            }

            .author {
                font-size: 2em;
            }

            header {
                width: 100%;
                height: 330px;
                border: 5px solid #000;
                box-shadow: none;
                margin-top: 0;
                display: grid;
                margin-bottom: 1em;
            }

            header h1 {
                margin: 0;
                font-size: 5em;
                margin-right: 10px;
            }

            .links {
                display: grid;
                font-size: 1.1em;
            }

            .links a+a {
                margin-left: 0;
                margin-top: 3px;
            }

            .episode p {
                padding-left: 0;
            }
        }

        footer {
            margin-top: 2em;
            text-align: center;
            color: #333;
            font-family: 'Rajdhani', sans-serif;
            margin-bottom: 2em;
        }
    </style>
</head>

<body>

<div class="container">
    <header>
        <h1>De <br>Job</h1>
        <span class="author">Brent Roose</span>
    </header>

    <p>
        "De Job" is een podcast die het verhaal vertelt over de eerste jaren op de arbeidsmarkt: de zoektocht naar je droomjob, de euforie wanneer je denkt hem gevonden te hebben, en dan de angst, teleurstelling en stress wanneer het toch geen droomjob blijkt te zijn.
    </p>

    <p>
        Een podcast die open en eerlijk praat over het echte werkleven, gebaseerd op mijn eigen waargebeurd verhaal. Luister nu en subscribe via
        <a class="spotify" href="https://open.spotify.com/show/6rsHpBPovlF3R4KCUD14MU">Spotify</a>,
        <a class="apple" href="https://podcasts.apple.com/us/podcast/de-job/id1596891759">Apple Podcasts</a>,
        <a class="stitcher" href="https://www.stitcher.com/show/de-job">Stitcher</a>,
        of rechtstreeks in je browser via <a href="https://soundcloud.com/brent-roose-826312539/sets/de-job" class="soundcloud">SoundCloud</a>!
    </p>

    <h2>Alle episodes:</h2>

    <div class="episode">
        <h3>04. Groepsdynamiek</h3>

        <p>
            Elke vrijdag kwamen we rond 11 uur met alle collega’s samen in de grote vergaderzaal. Het whiteboard dat er hing werd leeg geveegd en een voor een schreven we dan de positieve en negatieve dingen die we de voorbije week hadden meegemaakt.
        </p>

        <div class="links">
{#            <a href="" class="spotify">Spotify</a>#}
{#            <a href="" class="apple">Apple Podcasts</a>#}
{#            <a href="" class="stitcher">Stitcher</a>#}
            <a href="https://soundcloud.com/brent-roose-826312539/de-job-04-groepsdynamiek?in=brent-roose-826312539/sets/de-job" class="soundcloud">Luister in je browser</a>
        </div>
    </div>

    <div class="episode">
        <h3>03. De Fout</h3>

        <p>
            Ik wandel die dag alleen naar het station, en dat is heel bewust. Ik moet alleen zijn.
        </p>

        <div class="links">
            <a href="https://open.spotify.com/episode/7t4TkbR3RjD3vgY3ivrrIz" class="spotify">Spotify</a>
            <a href="https://podcasts.apple.com/us/podcast/03-de-fout/id1596891759?i=1000543465011" class="apple">Apple Podcasts</a>
            <a href="https://www.stitcher.com/show/de-job/episode/03-de-fout-88648553" class="stitcher">Stitcher</a>
            <a href="https://soundcloud.com/brent-roose-826312539/de-job-03-de-fout?in=brent-roose-826312539/sets/de-job" class="soundcloud">Luister in je browser</a>
        </div>
    </div>

    <div class="episode">
        <h3>02. Haat-Liefde</h3>

        <p>
            'Liefde maakt blind' dat zeggen ze wel eens. Achteraf bekeken had ik de signalen misschien eerder kunnen opvangen.
        </p>

        <div class="links">
            <a href="https://open.spotify.com/episode/5KAQvD1jgmhEaPe3HMbCVY" class="spotify">Spotify</a>
            <a href="https://podcasts.apple.com/us/podcast/02-haat-liefde/id1596891759?i=1000542826518" class="apple">Apple Podcasts</a>
            <a href="https://www.stitcher.com/show/de-job/episode/02-haat-liefde-88511032" class="stitcher">Stitcher</a>
            <a href="https://soundcloud.com/brent-roose-826312539/de-job-02-haat-liefde?in=brent-roose-826312539/sets/de-job" class="soundcloud">Luister in je browser</a>
        </div>
    </div>

    <div class="episode">
        <h3>01. De Zoektocht</h3>

        <p>
            'Wat wil je later worden' — da’s een vraag die we als kind toch allemaal wel eens kregen?
        </p>

        <div class="links">
            <a href="https://open.spotify.com/episode/1A52lj1pGivmElUGcT73US" class="spotify">Spotify</a>
            <a href="https://podcasts.apple.com/us/podcast/01-de-zoektocht/id1596891759?i=1000542811421" class="apple">Apple Podcasts</a>
            <a href="https://www.stitcher.com/show/de-job/episode/01-de-zoektocht-88511031" class="stitcher">Stitcher</a>
            <a href="https://soundcloud.com/brent-roose-826312539/de-job-01-de-zoektocht?in=brent-roose-826312539/sets/de-job" class="soundcloud">Luister in je browser</a>
        </div>
    </div>

    <div class="episode">
        <h3>00. Waarom</h3>

        <p>
            Behind the scenes: waarom maak ik deze podcast?
        </p>

        <div class="links">
            <a href="https://open.spotify.com/episode/45lwCp6UMyYpRWe5Cyr84v" class="spotify">Spotify</a>
            <a href="https://podcasts.apple.com/us/podcast/00-waarom/id1596891759?i=1000543703783" class="apple">Apple Podcasts</a>
            <a href="https://www.stitcher.com/show/de-job/episode/00-waarom-88711687" class="stitcher">Stitcher</a>
            <a href="https://soundcloud.com/brent-roose-826312539/de-job-00-waarom?in=brent-roose-826312539/sets/de-job" class="soundcloud">Luister in je browser</a>
        </div>
    </div>

    <footer>
        &copy; stitcher.io 2021
    </footer>
</div>

</body>
</html>
