{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
    <article>
        <h1>
            <span>
                De Job
            </span>
        </h1>

        <p class="author footnotes">Je bent succesvol ingeschreven! Je zult binnen dit en enkele minuten een mailtje ontvangen, check zeker even je spam moest de mail niet toekomen!</p>

        <p>
            <a href="/">Back</a>
        </p>
    </article>

{% endblock %}
