$color-black: #000000;
$color-white: #ffffff;
$color-orange: #fd5d1f;
$color-red: #fc3149;

$em-base: 16px;

$width-container: 1200px;

@mixin clearfix() {
    clear: both;
    content: ' ';
    display: block;
}
