@import 'variables';

$article-width: 1200px;

.content__guide {
    & > nav {
        position: fixed;
        width: 30vw;
        min-width: 300px;
        top: 0;
        left: 0;
        bottom: 0;
        color: #fff;
        padding: 3em 1em;
        overflow-y: scroll;

        background: $color-orange;
        background: linear-gradient(60deg, $color-red, $color-orange);

        & > a,
        & > h2 {
            display: block;
            width: 300px;
            float: right;
            clear: both;
            text-decoration: none;
        }

        & > a.active {
            font-weight: 700;
        }

        & > h2 {
            font-weight: normal;
            font-size: 1.3em;
            color: $color-orange-dark;
            margin: 1.2em 0 0.4em;

            &:first-child {
                margin-top: 0;
            }
        }

        & > a {
            padding: .3em 0;
        }

        @media (max-width: $width-container) {
            position: relative;
            width:100%;
            z-index: auto;

            & > a {
                float: left;
                display: block;
                width: auto;
                clear: none;

                &:before {
                    display: inline-block;
                    content: '\203A';
                    padding-right: .5em;
                    margin-left: 1em;
                }
            }

            & > h2 {
                clear:both;
                width:100%;
            }
        }
    }

    & > article {
        width: 70vw;
        max-width: $article-width;
        margin-top: 3em;
        margin-left: 30vw;
        padding: 0 4vw 0 1.5em;

        @media (max-width: $width-container) {
            width: auto;
            margin-left: 1em;
            margin-right: 1em;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

footer {
    & > .container {
        margin-left: 30vw;
        width: 70vw;
        max-width: $article-width;

        @media (max-width: $width-container) {
            width: 100%;
            margin-left: 0;
        }
    }

    & > .container > nav {
        margin: 0;
        padding: 0 4vw 0 1.5em;
    }
}
