@import "css/_variables";

body {
    background: $color-blue;
}

.heading {
    display: block;
    text-align: center;
    margin-top: 38vh;

    h2, h3 {
        margin:0;
        font-weight: 200;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        margin-top:0.3em;
        font-size: 1.05em;
    }
}
