@import 'variables';
@import 'normalize';

body {
    font-size: $em-base;
    color: $color-black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul,
p {
    font-size: 1.1em;
    line-height: 1.3em;
}

li {
    line-height: 1.5em;
}

.container {
    width: $width-container;
    margin: 0 auto;

    &--content {
        article,
        ul,
        h2,
        p {
            margin: 1em 120px 0;
        }
    }

    @media (max-width: $width-container) {
        width: 100vw;

        &--content {
            ul,
            h2,
            p {
                margin-left:1em;
                margin-right:1em;
            }
        }
    }
}

.nav__main {
    color: $color-black;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    text-decoration: none;
    padding-right:4vw;
    z-index: 99;

    & > a {
        display: inline-block;
        color: inherit;
        text-decoration: inherit;
        padding: 1.5em 2em 1.5em 0;

        &.active {
            text-decoration: underline;
        }
    }
}

a {
    color: inherit;
}

.cta {
    display: inline-block;
    background: $color-white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    padding: .7em 2em .8em;
    border-radius: 2.2em;
    text-decoration: none;
    font-size: 1em;
    color: $color-red;
    margin-right: .8em;

    &--ghost {
        background: none;
        box-shadow: inset 0 0 0 2px $color-white;
        color: $color-white;
    }

    &:last-child {
        margin-right: 0;
    }
}

pre {
    background: darken($color-white, 4);
    padding: 1.5em 2em;
    font-family: Monaco, monospace;
}
