@import 'variables';
@import 'normalize';

*::selection {
    background: $color-orange;
    color: $color-white;
}

body {
    font-size: $em-base;
    color: $color-black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul,
p {
    font-size: 1.1em;
    line-height: 1.3em;
}

li {
    line-height: 1.5em;
}

#curve {
    position: absolute;
    bottom:-1px;
    left:0;
    right:0;
}

.banner {
    position: relative;
}

.container {
    width: $width-container;
    margin: 0 auto;

    @media (max-width: $width-container) {
        padding-left: 1em;
        padding-right: 1em;
        width: 100vw;
    }
}

.nav__main {
    color: $color-black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    text-decoration: none;
    padding-right: 4vw;
    z-index: 99;

    & > a {
        display: inline-block;
        color: inherit;
        text-decoration: inherit;
        padding: 1.5em 2em 1.5em 0;

        &.active {
            text-decoration: underline;
        }
    }
}

a {
    color: inherit;
}

p {
    & a:hover {
        color: $color-red;
        text-decoration: none;
    }
}

.cta {
    display: inline-block;
    color: $color-black;
    background: $color-white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    padding: .7em 2em .8em;
    border-radius: 2.2em;
    text-decoration: none;
    font-size: 1em;
    margin-right: .8em;

    &:hover {
        color: $color-red;
        box-shadow: inset 0 0 0 2px $color-red;
    }

    &--primary {
        color: $color-red;
    }

    &--ghost {
        background: none;
        box-shadow: inset 0 0 0 2px $color-black;
        color: $color-black;
    }

    &--link {
        border:none;
        box-shadow: none;

        &:hover {
            border: none;
            box-shadow: none;
        }
    }

    &:last-child {
        margin-right: 0;
    }
}

pre {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    background: darken($color-white, 1);
    box-shadow: 0 0 10px 0 rgba(20, 20, 20, 0.3);
    font-family: Monaco, monospace;
    cursor: pointer;
    overflow-x: scroll;
    padding: 1.5em 2em;

    &::before {
        content: ' ';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        width: 7px;
        background: $color-orange;
        background: linear-gradient(45deg, $color-red, $color-orange);
    }

    & > code {
        font-size: 1em;
        background: none;
        display: block;
    }
}

pre + p,
p + pre {
    margin-top:1.7em;
}

code {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-family: Monaco, monospace;
    background: darken($color-white, 1);
    padding: .2em .3em;
    font-size: .85em;
}

footer {
    padding: 1em 0;
    margin-bottom: 1em;

    & nav {
        &:after {
            @include clearfix();
        }

        & .next {
            display: inline-block;
            float: right;

            &:after {
                display: inline-block;
                padding-left: .3em;
                content: '\203A';
            }
        }

        & .prev {
            display: inline-block;
            float: left;

            &:before {
                display: inline-block;
                padding-right: .3em;
                content: '\2039 ';
            }
        }
    }

    @media (max-width: 70em) {
        .cta {
            width: 100%;
            max-width: 450px;
            margin:0 auto 1.4em auto;
            text-align: center;
            display: block !important;
            float:none !important;

            &:last-child {
                margin-right: auto;
            }
        }
    }
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: bold;

    & em {
        font-style: normal;
        font-weight: normal;
    }
}

h3 {
    margin-top: 1.8em;
    margin-bottom: .4em;
}

.underline--highlight {
    display: inline-block;
    padding-right: 5em;
}

article {
    & h1 {
        font-size: 1.3em;
        font-weight: normal;
        color: $color-red;
    }

    &.overview h1 {
        color: $color-black;
    }

    & + article {
        margin-top: 2em;
    }

    & > a:hover {
        color: inherit;
    }

    &:hover > a {
        h1,
        .link {
            color: $color-red;
        }
    }
}

.center {
    text-align: center;
}

hr {
    display: block;
    margin: 3em auto;
    width: 30%;
}

li {
    display: block;
    float:left;
    clear: both;
    list-style: none;
    line-height:2.2em;

    &:before {
        float:left;
        display: block;
        color: $color-red;
        content: '\203A';
        font-size:1.5em;
        margin-right: .3em;
        line-height:1.25em;
    }
}

ul {
    padding: 0 1em;

    &:after {
        @include clearfix;
    }
}
