$width-base: 800px;
$width-mobile: 460px;
$red: #fc3149;
$font-title: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-subtitle: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-body: Garamond, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-code: Menlo, Monaco, "Ubuntu Mono", "Courier New", monospace;

@mixin wrapper($width: $width-base, $padding-right: 200px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
    padding-right: $padding-right;

    @media (max-width: $width-base) {
        padding-right: 20px;
        padding-left: 20px
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    color: #111;

    @media (max-width: $width-mobile) {
        font-size: 16px;
    }
}

@import 'resources/css/clean/classes.scss';
@import 'resources/css/clean/elements.scss';

