@import "css/variables";

h1, h2, h3, h4, h5 {
    font-family: $font-title;

    margin-bottom: 1.2rem;

    font-weight: normal;
    font-kerning: normal;

    @include wrapper();
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 200;

    margin-top: 1.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;

    padding-right: 0;
    max-width: 600px;
    margin-left: calc(50vw - 400px);

    @media (max-width: $width-base) {
        margin: .5em 20px;
        padding-left: 0;
    }

    border-bottom: 5px solid $red;
}

aside {
    padding-top:1em;
    @include wrapper();
}

p {
    @include wrapper();
}
