@import "css/variables";

body {
    font-size: 18px;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    color: #111;

    @media (max-width: $width-container-mobile-lrg) {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
    margin-top: 1.3em;
}

h3 {
    font-size: 1.4em;
    margin-top: 1.5rem;
}

article {
    font-family: $font-body;
}

p {
    font-size: 1.35em;
    line-height: 1.5em;

    margin-bottom: 1rem;
}

li {
    font-size: 1.35em;
    line-height: 1.4em;
    padding-right: 200px;
    margin: 0 auto .3rem;
    max-width: $width-base;

    @media (max-width: $width-base) {
        max-width: 100%;
        padding-right: 20px;
    }
}

li ul li {
    font-size: 1em;
    padding-right: 0;
}

ul {
    margin-left: 40px;
    padding-left: 0;

    @media (max-width: $width-base) {
        margin-left: 40px;
    }
}

ul ul {
    margin-top: 10px;
    margin-left: 40px;

    @media (max-width: $width-base) {
        margin-left: 20px;
    }
}

p > em {
    font-style: normal;
    line-height: inherit;
}

blockquote {
    font-size: 1rem;
    font-family: $font-title;
    font-weight: 300;

    padding: 1.6em 1.8em 1.7em;
    margin: 2em auto;

    border-left: 6px solid $red;

    @media (max-width: $width-mobile) {
        margin: 1.5em 0;
    }

    @include wrapper(calc(800px + 3rem), 0);
}

blockquote > p:last-child {
    margin-bottom: 0;
}

blockquote code {
    font-size: .8em;
}

code {
    font-size: .7em;
    letter-spacing: 1px;

    padding: .2em .4em;
    margin-right: 2px;

    font-family: $font-code;
    background-color: darken(#fff, 5);
    color: #000;
}

pre {
    max-width: calc(600px + 2rem);
    margin-left: calc(50vw - 400px - 1rem);
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;

    overflow-x: auto;
    display: block;

    border: 1px solid darken(#fff, 7);
    background-color: darken(#fff, 3);

    @media (max-width: $width-base) {
        margin-left: 5px;
        margin-right: 5px;
        max-width: 100%;
    }
}

pre > code {
    line-height: 1.7em;
    font-size: .9em;
    letter-spacing: 0;
    margin-right: 0;

    padding: 1.5em 1.5rem;

    display: block;
    background-color: darken(#fff, 3);

    @media (max-width: $width-base) {
        padding: 1.5em 1rem;
    }
}

img {
    max-width: calc(100% + 2rem);
    margin-left: -1rem;
    box-shadow: 1px 2px 15px -2px rgba(0, 0, 0, 0.2);
    margin-top: .66rem;
    margin-bottom: .66rem;
    border-radius: 5px;

    &.editor-badge {
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-shadow: none;
    }
}

footer {
    font-family: $font-body;
    margin-bottom: 2rem;
    padding-top:1rem;
    padding-bottom:1rem;
}

footer > nav {
    @include wrapper;
    text-align: center;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

hr {
    margin: 1rem auto;
    opacity: 0;
}
