@import "css/variables";

nav.overview {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: 2em auto 0;

    @media (max-width: $width-base) {
        margin-top: 0;
    }
}

h1 {
    font-family: $font-title;

    font-kerning: normal;
    font-size: 2.5em;
    line-height: 1.1em;
    letter-spacing: 2px;
    font-weight: 300;

    max-width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    padding-right: 0;
}

nav.overview > * {
    flex: 1 50%;
    padding: 2em;
    max-width: 45%;
    border: 2px solid darken(#fff, 6);
    margin: 1em;
    text-decoration: none;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-content: space-between;

    & > * {
        flex: 1 auto;
    }

    & > div {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        & > * {
            flex: 1 100%;
        }
    }

    &:hover {
        border-color: $red;
    }

    &:hover h1 {
        color: $red;
    }

    &.cta {
        text-align: left;

        &:hover h1 {
            color: #fff;
        }
    }

    @media (max-width: $width-base) {
        width:100%;
        max-width: 100%;
    }

    @media (max-width: $width-mobile) {
        padding: 1.7em 1.5em;

        h1 {
            font-size: 2em;
        }
    }
}

nav.overview > header {
    color: #000;
    border: none;

    @media (max-width: $width-base) {
        padding-top: 0;
        padding-bottom: 0;

        h1 {
            padding-top: .5em;
            padding-bottom: 0;
        }
    }
}

nav.overview p {
    margin-top: 1em;
    font-family: $font-body;
    font-size: 1.35em;
}

section p {
    padding-right: 0;
}

aside {
    padding-right: 0;
    margin: .5em 0 0;
    font-family: $font-body;
    font-size: 1.1em;
}

footer > nav {
    padding-right: 0;
    text-align: center;
}
