{% extends 'blog/meta.twig' %}

{% block meta_container %}

    <div class="meta-image">
        <h1>
            <span>
                Blogs for Devs
            </span>
        </h1>
    </div>

    <div class="meta-footer">
        <span>stitcher.io</span>
    </div>

    <img src="{{ source('blog/meta/img/paper.txt') }}"/>
{% endblock %}
