{% extends 'blog/meta.twig' %}

{% block head %}
    {{ parent() }}

    <style>
        h1 small {
            font-size: .5em;
            margin-top: -10px;
            display: block;
        }

        h1 {
            color: #fff;
            font-size: 2.5em;
        }

        img {
            box-shadow: none;
            width: 900px;
            position: absolute;
            top: 50px;
            left: 150px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="meta-container">
        <div class="meta-image">
            <h1>
                <span>
                    {{ post.title }}
                </span>
            </h1>
        </div>

        <img src="{{ source('blog/meta/img/event-sourcing.txt') }}"/>
    </div>
{% endblock %}
