{% extends 'blog/meta.twig' %}

{% block meta_body %}
    <style>
        h1 {
            z-index: 1;
            position: absolute;
            top: 20px;
            right: -50px;
            width: 500px;
            font-size: 2.5em;
        }

        h1.before {
            left: -320px;
            top: 20px;
        }

        h1.after {
            top: 175px;
            right: -150px;
        }

        pre {
            width: 1000px;
            top: 10px;
            left: 100px;
            margin-left: 0;
            position: absolute;
            z-index: 0;
        }

        .meta-footer {
            padding-top: 10px;
        }

        pre.before {
            font-size: 10px;
            width: 40%;
            margin-left: -50px;
            margin-top: -100px;
        }

        pre.after {
            font-size: 15px;
            width: 50%;
            margin-left:38%;
            margin-top: 150px;
        }
    </style>

    <h1 class="before">
        <span>5.6</span>
    </h1>


    <pre class="before"><code class="language-php hljs php" data-lang="php"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">BlogData</span>
</span>{
    <span class="hljs-comment">/** <span class="hljs-doctag">@var</span> <span class="hljs-highlight  type">string</span> */</span>
    <span class="hljs-keyword">private</span> <span class="hljs-highlight  prop">$title</span>;

   <span class="hljs-comment">/**
    * <span class="hljs-doctag">@param</span> <span class="hljs-highlight  type">string</span> $title
    */</span>
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">__construct</span><span class="hljs-params">(
        $title,
    )</span> </span>{
        <span class="hljs-keyword">$this</span>-&gt;<span class="hljs-highlight  prop">title</span> = $title;
    }

    <span class="hljs-comment">/**
     * <span class="hljs-doctag">@return</span> <span class="hljs-highlight  type">string</span>
     */</span>
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getTitle</span><span class="hljs-params">()</span>
    </span>{
        <span class="hljs-keyword">return</span> <span class="hljs-keyword">$this</span>-&gt;<span class="hljs-highlight  prop">title</span>;
    }

    <span class="hljs-comment">/**
     * <span class="hljs-doctag">@return</span> <span class="hljs-highlight  type">State</span>
     */</span>
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getState</span><span class="hljs-params">()</span>
    </span>{
        <span class="hljs-keyword">return</span> <span class="hljs-keyword">$this</span>-&gt;<span class="hljs-highlight  prop">state</span>;
    }

    <span class="hljs-comment">/**
     * <span class="hljs-doctag">@return</span> <span class="hljs-highlight  type">\DateTimeImmutable</span>|<span class="hljs-highlight  type">null</span>
     */</span>
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getPublishedAt</span><span class="hljs-params">()</span>
    </span>{
        <span class="hljs-keyword">return</span> <span class="hljs-keyword">$this</span>-&gt;<span class="hljs-highlight  prop">publishedAt</span>;
    }
}</code></pre>

    <h1 class="after">
        <span>8.1</span>
    </h1>

    <pre class="after"><code class="language-php hljs php" data-lang="php"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">BlogData</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">__construct</span><span class="hljs-params">(
        <span class="hljs-highlight  keyword">public readonly</span> <span class="hljs-highlight  type">string</span> <span class="hljs-highlight  prop">$title</span>,
        <span class="hljs-highlight  keyword">public readonly</span> <span class="hljs-highlight  type">State</span> <span class="hljs-highlight  prop">$state</span>,
        <span class="hljs-highlight  keyword">public readonly</span> <span class="hljs-highlight  type">?DateTimeImmutable</span> <span class="hljs-highlight  prop">$publishedAt</span> = <span class="hljs-highlight  keyword">null</span>,
    )</span> </span>{}
}</code></pre>

{% endblock %}
