{% extends 'blog/meta.twig' %}

{% block meta_body %}
    <style>
        .mono {
            font-family: Menlo, Monaco, "Ubuntu Mono", "Courier New", monospace;
        }
    </style>

    <h1>
        <span class="mono">?-></span>
    </h1>
{% endblock %}
