:root {
    --color-primary: var(--ui-php);
}

.php-varlistentry {
    display: grid;
    gap: .5em;
}

.php-varlistentry .php-term {
    font-weight: bold;
}

.php-member,
.php-listitem {
    display: grid;
    gap: .5em;
    margin-left: 1em;
}

ul .php-member,
ul .php-listitem {
    display: list-item;
    list-style-type: disc;

    & + .php-member,
    & + .php-listitem {
        margin-top: .4em;
    }
}

article {
    & * + * {
        margin-top: 1em;
    }
}